.dynamic_forms {
  line-height: 2em;

  &.editor {

    .field {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0;

      label {
        font-weight: bold;
        width: 100px;
      }

      input[type=checkbox] {
        margin: 0.5em;
      }

      textarea,
      select,
      input[type=text],
      input[type=email] {
        padding: 0.5em;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #C2C2C2;
        border-radius: 3px;
        box-shadow: inset 1px 1px 4px #EBEBEB;
        flex: 1 1 auto;
      }

    }

    fieldset.item {
      border: none;
      outline: 2px solid blue;
      margin: 0;

      legend {
        display: block;
        width: 100%;
        margin: 0;
        font-size: 1.25em;
        font-weight: bold;
        background-color: blue;
        color: white;
      }
    }
  }
}
