textarea {
  min-height: 8em;
}

legend {
  border-bottom: 1px solid black;
}

input[type=submit] {
  @include button(true, green);
}

fieldset {
  margin: 2em 0;
  padding: 0.5em 1em;
  outline: 1px solid #ddd;
  background-color: #f9f9f9;
}

.form-attributes {
  margin-top: 1em;
}

.form-item-attributes {
  @include grid-row();
  .required { @include grid-column(2); }
  .attribute_name { @include grid-column(10); }
}

.multiple-choice-question-fields {
  @include grid-row();
  .multiple { @include grid-column(2); }
  .appearance { @include grid-column(10); }
}

.multiple-choice-option-fields {
  @include grid-row();
  > div { @include grid-column(6); }
}

.dynamic_forms {
  fieldset {
    .form-item-attributes { display: none; }
    &.question {
      .form-item-attributes { display: block; }
    }
  }
}

