<div class="multiple-choice-option-fields">
  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>
  <div class="value field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>
</div>
