<div id="text_block_<%= text_block.id %>" class="text_block <%= text_block.appearance %>">
  <div class="heading">
    <h2><%= text_block.title %></h2>
  </div>
  <%= simple_format text_block.text %>
</div>
